.card-category {
  transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
}

.card-category:hover {
  transform: translate(-10px, -10px) scale(1.05);
  border-image: linear-gradient(45deg, #ff6f00, #ff8f00, #ffa000, #ffb300, #ff6f00);
  border-image-slice: 1;
  box-shadow: 0 12px 24px rgba(255, 69, 0, 0.6) inset, 0 8px 16px rgba(255, 69, 0, 0.4);
  border-color: transparent;
}

body {
  background-color: rgb(37, 37, 37);
}

.project-header {
  color: white;
}
