.component-button {
    background: linear-gradient(to right, #000000, #ff4500) !important; /* Use !important only if necessary */
    border: none !important;
    color: #ffffff; /* Example: Override text color */
    transition: all 0.2s ease-in-out;
}

.component-button:hover,
.component-button:active,
.component-button:focus {
    background: linear-gradient(to right,  #000000, #ff4500) !important;
    transform: translateY(-2px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
    color: #ffffff !important;
}
