footer {
  background: #5F617E;
  background: linear-gradient(261deg,rgba(95, 97, 126, 1) 0%, rgba(69, 69, 82, 1) 50%, rgba(17, 17, 66, 1) 100%);
  color: white;
  padding: 16px;
  text-align: center;
  font-size: 0.9em;
  margin-top: 70px;

  a {
    text-decoration: none;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }

  p:first-child {
    font-size: 1.1em;
    margin-bottom: 15px;
    font-style: italic;
    font-weight: bold;
  }
}
