.navbar-lewagon {
  justify-content: space-between;
  background: #5F617E;
  background: linear-gradient(261deg,rgba(95, 97, 126, 1) 0%, rgba(69, 69, 82, 1) 50%, rgba(17, 17, 66, 1) 100%);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

.navbar-lewagon .nav-link {
  color: rgb(222, 222, 222);
}
